<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243032234811-8vlfr0ijl5c4qq9ppejenr21njioa8pe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243032234811-8vlfr0ijl5c4qq9ppejenr21njioa8pe</string>
	<key>API_KEY</key>
	<string>AIzaSyAto7_0R8UqHJMwHYJWWZ_zOBvEBrV_6U0</string>
	<key>GCM_SENDER_ID</key>
	<string>243032234811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yuki.kawashima.acappellaStation</string>
	<key>PROJECT_ID</key>
	<string>acappella-station</string>
	<key>STORAGE_BUCKET</key>
	<string>acappella-station.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243032234811:ios:d6aa188eb8c501478e351e</string>
</dict>
</plist>